/* Styles applied for all the pages */

.avatar-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.deleteRightButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.homepageButton{
    float: left;
    margin-right: 1%;
}

.homeArticle{
    background: white;
    opacity: 0.9;
    border-radius: .25rem;
}

.homeButton{
    margin-top: 1%;
    text-align: center;
}

.homeArticle .showDetails{
    opacity: 1;
    font-size: 1.2em;
    font-weight: 900;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

.welcome{
    opacity: 0.9;
}
.homeBtn{
    display: flow-root;
    margin-bottom: 1%;
}

.btn-outline-primary {
    color: black;
    border-color: black;
}
a:focus, a:active, a:hover, button:focus, button:active, button:hover, a b.light-color:hover {
    text-decoration: none;
    color: #FFAD4D;
}
a{
    color: #17a2b8;
}
